asn1crypto==0.24.0
attrs==19.1.0
Automat==0.7.0
blinker==1.4
certifi==2018.1.18
cffi==1.12.2
chardet==3.0.4
click==6.7
cloud-init==18.5
colorama==0.3.7
command-not-found==0.3
configobj==5.0.6
constantly==15.1.0
cryptography==2.6.1
cssselect==1.0.3
distro-info==0.18
Django==2.1.7
django-cors-headers==2.5.2
docopt==0.6.2
gerapy==0.8.5
httplib2==0.9.2
hyperlink==18.0.0
idna==2.8
incremental==17.5.0
Jinja2==2.10
jsonpatch==1.16
jsonpointer==1.10
jsonschema==2.6.0
keyring==10.6.0
keyrings.alt==3.0
language-selector==0.1
lxml==4.3.2
MarkupSafe==1.0
netifaces==0.10.4
oauthlib==2.0.6
PAM==0.4.2
parsel==1.5.1
pyasn1==0.4.5
pyasn1-modules==0.2.4
pycparser==2.19
pycrypto==2.6.1
PyDispatcher==2.0.5
pygobject==3.26.1
PyHamcrest==1.9.0
PyJWT==1.5.3
pymongo==3.7.2
PyMySQL==0.9.3
pyOpenSSL==19.0.0
pyserial==3.4
python-apt==1.6.3+ubuntu1
python-debian==0.1.32
python-scrapyd-api==2.1.2
pytz==2018.9
pyxdg==0.25
PyYAML==3.12
queuelib==1.5.0
redis==3.2.1
requests==2.18.4
requests-unixsocket==0.1.5
Scrapy==1.6.0
scrapy-redis==0.6.8
scrapy-splash==0.7.2
scrapyd==1.2.0
scrapyd-client==1.1.0
SecretStorage==2.3.1
service-identity==18.1.0
six==1.12.0
ssh-import-id==5.7
systemd-python==234
Twisted==18.9.0
ufw==0.35
unattended-upgrades==0.1
urllib3==1.22
w3lib==1.20.0
WALinuxAgent==2.2.32.2
zope.interface==4.6.0
